body{
    background-color: rgb(120, 41, 122);
    color: white;
}


header{
    margin: 10px;
    padding: 10px;
}

main{
    padding: 2%;
}

thead{
    background-color: rgb(0, 0, 0);
    width: auto;
    
}

tbody{
    color: rgb(255, 255, 255);
}

td{
 width: 25%;
 text-align: center;
}

header{
    background-color: black;
}

img{
    width: 200px;
    height: 200px;
}
